/* import loading css */
@import './loading.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comparison-container {
  @apply mx-auto w-full px-6 sm:px-8 md:px-10 lg:px-16 xl:max-w-[1440px] xl:px-[108px];
}
.style-button-user-insurance-list {
  @apply rounded-t-sm border border-platinum px-6 py-2.5 text-sm font-normal;
}
.style-text-field-blur {
  @apply w-full rounded-md border border-chinese-silver p-3 outline-none focus:border-ultramarine-blue;
}
.style-error {
  @apply w-full rounded-md border border-vermilion p-3 outline-none;
}
.first-modal-material-insurance {
  @apply relative w-percent-91 p-0 sm:w-percent-89 lg:w-percent-70;
}
.second-modal-material-insurance {
  @apply h-screen/60 w-percent-91 space-y-6 overflow-scroll bg-white p-4 pt-6 sm:w-percent-89 sm:p-8 sm:pb-0 lg:w-percent-70 lg:p-8 lg:pb-0;
}
.last-modal-material-insurance {
  @apply w-percent-91 rounded-b-xl bg-white p-0 px-8 pb-8 sm:w-percent-89 lg:w-percent-70;
}
.content-insurance-list {
  @apply flex w-full sm:w-percent-49 sm:flex-col sm:space-y-1.5 lg:space-y-0;
}
.insurance-list-title-mobile {
  @apply block w-percent-36 lg:hidden;
}
.details-contents-insurance-list {
  @apply w-3/5 text-sm lg:w-full;
}
.lineClamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.lineClamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#shadowIconGroupHover {
  filter: drop-shadow(0px 0px 24px 0px rgba(0, 0, 0, 0.08)) !important;
}
/* input[type='date'] {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
} */

input[type='date']::-webkit-calendar-picker-indicator {
  /* position: absolute;
  top: 0;
  right: 0;
  opacity: 1; */
  /* background: url('/images/auth/calendar.png') no-repeat; */
  width: 20px;
  height: 20px;
}

.react-date-picker__wrapper {
  border: 0 !important;
}

.react-date-picker__inputGroup__input:invalid {
  background: transparent !important;
}

.react-date-picker__button {
  padding: 2px 6px !important;
}

/* Thiết lập độ rộng của thanh cuộn */
::-webkit-scrollbar {
  width: 0px;
}

/* Thiết lập màu nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Thiết lập màu của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
